@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Borel&family=Italianno&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Borel&family=Italianno&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Borel&family=Dancing+Script:wght@400..700&family=Italianno&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin: 0;
}

header{
    background-image: url("colorheader.png");
    position: absolute;
    width: 100vw;
    height: 135px;
    z-index: 20;
    transform: translateY(-300px);
    background-size: contain;
    background-repeat: repeat-x;
    animation: headerani 1s ease-out forwards;
}
@keyframes headerani{
    0%{
        transform: translateY(-300px);
    }
    100%{
        transform: translateY(0px);
    }
}
nav{
    width: 100vw;
    display: flex;
    position: fixed;
    justify-content: space-around;
}
.homebtn{
    background-image: url(Images/Homefolder/HOMEIMG.png); 
}
.menubtn{
    background-image: url(Images/Menufolder/MENUIMG.png);
}
.aboutbtn{
    background-image: url(Images/Aboutfolder/ABOUTIMG.png);
}
.navbtn{
    width: 170px;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
}
.navbtn:hover{
    animation: dingle 0.5s ease-in;
    cursor: pointer;
}
@keyframes dingle {
    0%,100%{
        transform: rotateZ(0); 
    }
    25% {
        transform: rotateZ(6deg);
    }
    50%{
        transform: rotateZ(-6deg); 
    }

}
body{
    overflow:hidden ;
    background-color: black;
    
}
#content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}
.vid{
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    filter: brightness(0.4);
    position: absolute;

}
.hometextcont{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    z-index: 12;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color:  rgb(255, 255, 255);
    font-family: "Italianno", cursive;
    transform: translateY(20px);
    animation: textanim 1s ease-out forwards;
    
}
@keyframes textanim {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
.booktablecont{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 170px;
    height: 45px;
    background-color: rgb(0, 0, 0);
    border-radius: 300px;
    z-index: 15;
    color: rgb(255, 255, 255);
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    
    font-size: 20px;
    cursor: pointer;
    box-shadow:0 0 20px 0px #ffffff;
    

}
.blackbox{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    background-color: black;
    opacity: 0.6;
}
.formcont{
    z-index: 35;

}
.formcont {
    font-family: "Baloo Bhai 2";
    position: absolute;
    width: 20vw;
    max-height: 80vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fd9800;
    
    animation: formanim 0.3s ease-out forwards;
    
}

@keyframes formanim{
    0%{
        transform: translate(750px, 350px) scale(0);
    }
    100%{
        transform: translate(0px, 0px) scale(1);
    }
}

.formcont form {
    display: flex;
    flex-direction: column;
}

.formcont label {
    
    font-weight: bold;
}

.formcont input[type="text"],
.formcont input[type="email"],
.formcont input[type="tel"],
.formcont input[type="date"],
.formcont input[type="time"],
.formcont input[type="number"] {
    padding: 8px;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    margin-bottom: 25px;
}

.formcont button {
    margin-top: 15px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.formcont button:hover {
    background-color: #ffffff;
    color: black;
}
.crossbtn{
    position: absolute;
    right: 0;
    margin-right: 20px;
    font-size: 30px;
    top: 0px;
    cursor: pointer;

}
@media screen and (max-width: 1280px) {
    .formcont {
        font-family: "Baloo Bhai 2";
        position: absolute;
        width: 20vw;
        max-height: 70vh;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #000000;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fd9800;
        
        animation: formanim 0.3s ease-out forwards;
        
    }

    .formcont input[type="text"],
    .formcont input[type="email"],
    .formcont input[type="tel"],
    .formcont input[type="date"],
    .formcont input[type="time"],
    .formcont input[type="number"] {
        padding: 5px;
        border: 1px solid #1a1a1a;
        border-radius: 4px;
        margin-bottom: 15px;
    }



}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
.mainmenu{
    background-image: url("Images/Menufolder/backgroundmenu.jpg");
    position: relative;
    background-repeat: repeat;
    width: 50vw;
    height: 100vh;
    background-size:contain;
    z-index: 16;
    transform: translateY(-1000px);
    animation: bottomtop 1s ease-out 0.5s 1 forwards;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.mainmenu::-webkit-scrollbar{
    display: none;
}
.appetizers-container{
    margin-top: 150px;
    width: 600px;
    margin-bottom: 50px;
}
.main-courses-container{
    width: 600px;
    margin-bottom: 50px;  
}
.desserts-container{
    width: 600px; 
    margin-bottom: 80px;
}
.mainmenu{
    max-width: 900px;
    width: 90%;
    padding: 20px;
    border-radius: 70px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

h1 {
    text-align: center;
    font-size: 2.8rem;
    color: #ff6f61;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.menu-category h2 {
    font-size: 2rem;
    
    background-clip: text;
    color: black;
    padding: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #ff6f61;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.menu-category h2:hover {
    transform: scale(1.1);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 12px 0;
    border-bottom: 1px solid #ff0303b0;
    position: relative;
    overflow: hidden;
    transition: background 0.3s;
}
.menu-item span {
    color: #333;
}




@keyframes bottomtop {
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(0px);
    }
}
.droplet{
    position: absolute;
    width: 160vw;
    height: 100vh;
    z-index: 14;
    background-image: url("Images/Menufolder/yellowdroplet.png");
    background-size: contain;
    transform: translateY(-1000px);
    animation: droplet 0.7s ease-out forwards;
    background-repeat: repeat-x;

}
@keyframes droplet {
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(-200px);
    }
}
.aboutcont{
    width: 100vw;
    height: 100vh;  
    
    background-color: rgb(255, 153, 0);
    z-index: 15;
    animation: bottomtop 0.5s ease-out forwards;
    overflow-y: scroll;
    overflow-x: hidden;
}
.aboutcont::-webkit-scrollbar{
    display: none;
}

.firstdivabout{
    margin-top: 150px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 153, 0);
    
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    
}
.myrestimg{
    width: 100vw;
    height: 50vh;
    object-fit: contain;
    opacity: 0;
    animation: leftright 0.7s ease-out 0.5s forwards;
    transform: translateX(-200px);
    
}
.aboutrestcont{
    text-align: center;
    
    
    transform: translateX(-200px);
    opacity: 0;
    animation: rightleft 0.7s ease-out 0.7s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.aboutheading{
    font-family: "Poppins", serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.aboutwriting{
    width: 70vw;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-size: 28px;
    font-weight: bold;
}
@keyframes leftright{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        opacity: 1;
    }
}
@keyframes rightleft{
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        opacity: 1;
    }
}

.aboutchefcont{
    background-color: black;
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    gap: 80px;
    
}

.cheftext{
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 50px;
    
    width: 100vw;
    color: white;
    width: 90vw;
    height: 50px;
    font-family: "Poppins";


}
.chefflex{
    display: flex;
    width: 90vw;
    justify-content: space-around;
}
.chefimg1{
    background-image: url("Images/Aboutfolder/chef1.jpg");
    background-size: contain;
}
.chefimg2{
    background-image: url("Images/Aboutfolder/chef2.jpg");
    background-size: contain;
}
.chefimg3{
    background-image: url("Images/Aboutfolder/chef3.jpg");
    background-size: contain;
}
.chefimg{ 
    width: 300px;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition:all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    cursor: pointer;
    border-radius: 5px;
}
.chefname{
    color: white;
    text-align: center;
    font-family: "Poppins";
    font-size: 30px;
    margin-top: 10px;
}
.chefimg:hover{
    transform: translate(-8px,-8px );
    box-shadow: 8px 8px rgb(255, 174, 0);
    transition:all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.locationcont{
    padding-left: 5%;
}
.aboutthirddiv{
    background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(39, 39, 39));

    height: 800px;
    width: 100vw;
    display: flex;


}
.locationtext{
    font-weight: bold;
    font-size: 50px;
    color: white;
    font-family: "Poppins";
    
}
.location{
    border-radius: 20px;
    margin-top: 20px;
    width: 50vw;
    height: 60vh;
    border: 0;
}
.contactcont{
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Poppins";
    gap: 150px;
    

}
.contacttext{
    font-weight: bold;
    font-size: 50px;
    


}
.contacts ul{
    font-size: 16px;
    font-weight:lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts ul li{
    list-style: none;
}
.hourstext{
    font-weight: bold;
    font-size: 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hours ul{
    font-weight:lighter;
    font-size: 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hours ul li{
    
    list-style: none;
}

@media (orientation: portrait){
    .hometextcont{
        font-size: 4rem;
    }
    .formcont {
        width: 50vw;
        
    }
    .myrestimg{
        width: 70vw;
        height: 20vh;

        
        
    }
    .firstdivabout{
        margin-top: 100px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .aboutheading{
        font-family: "Poppins", serif;
        font-size: 1rem;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
    }
    .aboutwriting{
        padding-top: 5px;
        width: 70vw;
        font-family: "Dancing Script", serif;
        font-optical-sizing: auto;
        font-size: 1rem;
        font-weight: bold;
    }
    .cheftext{
        margin-top: 50px;
        font-weight: bold;
        margin-bottom: 0px;
        font-size: 1.3rem;
        
        width: 100vw;
        color: white;
        width: 90vw;
        height: 50px;
        font-family: "Poppins";
    }
    .chefimg{
        width: 70px;
        height: 70px;
    }
    .chefname{
        font-size: 1rem;
    }
    .chefflex{
        align-items: center;
    }
    .chefcont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutchefcont{
        gap: 20px;
        height: 300px;
    }
    .aboutthirddiv{
        flex-direction: column;
        height: 600px;
    }
    .location{
        width: 90vw;
        height: 40vh;
    }
    .locationtext{
        font-size: 1.3rem;
    }

    .contactcont{
        flex-direction: row;
        gap: 10px;
        width: 100vw;
        height: 30vh;
        margin-top: 20px;
        align-items: start;
        justify-content: space-evenly;
    }
    .contacttext{
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hourstext{
        font-size: 1.3rem;
    }
    li{
        font-size: 0.7rem;
    }
    .appetizers-container {
        margin-top: 100px;
        width: 600px;
        margin-bottom: 50px;
    }
    .mainmenu{
        
        height: 100vh;
    }

    
}